@use "../../styles/vars";

.messages {
  padding: 2em;
  // réserver de la place en bas pour le formulaire
  margin-bottom: vars.$inputHeight;
  position: absolute;
  // on étend de chaque côté jusqu'au bord de l'élément qui sert de référence pour
  // le positionnement
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;

  .message-received {
    margin-bottom: 1.2rem;
    // sert de référence pour le triangle du contenu
    position: relative;

    .message-author {
      padding-left: 1.2em;
    }

    // https://developer.mozilla.org/en-US/docs/Web/CSS/::before
    &::before {
      content: "";

      // triangle en CSS : https://css-tricks.com/snippets/css/css-triangle/
      border-bottom: 20px solid vars.$backgroundMessage;
      border-left: 25px solid transparent;
      position: absolute;
      top: 1em;
      left: 1.5em;
    }

    .message-content {
      padding: 1.2rem 1.3rem;
      margin-top: 0.8rem;
      border-radius: 1.6rem;
      background-color: vars.$backgroundMessage;
      color: vars.$mediumColor;
      // pour prendre seulement la largeur nécessaire pour le contenu, pas 100%
      display: inline-block;
    }
  }

  .message-sent {
    margin-bottom: 1.2rem;
    // sert de référence pour le triangle du contenu
    position: relative;
    margin-left: 360px;

    .message-author {
      padding-left: 1.2em;
    }

    // https://developer.mozilla.org/en-US/docs/Web/CSS/::before
    &::before {
      content: "";

      // triangle en CSS : https://css-tricks.com/snippets/css/css-triangle/
      border-bottom: 20px solid #1d82ff;
      border-left: 25px solid transparent;
      position: absolute;
      top: 1em;
      left: 1.5em;
    }

    .message-content {
      padding: 1.2rem 1.3rem;
      margin-top: 0.8rem;
      border-radius: 1.6rem;
      background-color: #1d82ff;
      color: #fff;
      // pour prendre seulement la largeur nécessaire pour le contenu, pas 100%
      display: inline-block;
    }
  }
}
