@use "sass:color";

$darkColor:#13405d;
$mediumColor: color.scale($darkColor, $lightness: 40%);
$lightColor: color.scale($darkColor, $lightness: 70%);
$backgroundMessage: #fff;
$inputHeight: 4rem;

$accentColor: #6c1283;
$accentColorLight: color.scale($accentColor, $lightness: 10%);
$accentColorLighter: color.scale($accentColor, $lightness: 40%);

